body {
	font-size: 16px;
	margin: 0 auto;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #0a0203;
	background-color: #f8f8ff;
	overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.footer {
	margin-top: 50px;
	background-color: #000132;
	overflow: hidden;
	width: 100%;
	color: #f8f8ff;
	text-align: center;
}

.footer-image {
	height: 50px;
	padding: 10px;
}

h1 {
	font-weight: 600;
	font-style: italic;
	font-size: 10vw;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}

.yellow {
	color: #ffc32b;
}


.banner {
	width: 100%;
}

.text {
	margin-left: 15%;
	margin-right: 15%;
}

.navbar a.icon:hover, a.inactive:hover {
	background-color: #f8f8ff;
	color: #0a0203;
}

.navbar a.active {
	color: #f8f8ff;
	text-decoration-line: underline;
	text-decoration-color: #1f69b6;
	text-decoration-thickness: 2px;
	pointer-events: none;
	cursor: default;
}

@media (max-aspect-ratio: 1/1) {

	.navbar {
		white-space: nowrap;
		font-size: 45px;
		background-color: #000132;
		width: 100%;
		overflow: hidden;
  		position: relative;
		max-height: 91px;
		transition: max-height 1s;
	}

	.navbar.open {
		transition: max-height 1s;
		height: auto;
		max-height: 455px;
	}

	.navbar a {
		color: #f8f8ff;
		padding: 18px 18px;
		text-decoration: none;
		display: block;
		transition: all 1s ease-out
	}

	.navbar a.icon {
	  background: #000132;
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	}

	#strath-logo {
		display: block;
		opacity: 0.0;
		right: 0;
		bottom: 0;
		position: absolute;
		padding: 0px;
		background-color: #000132;
		text-decoration: none;
		height: 91px;
		transition: opacity 1s;
	}

	#strath-logo.open {
		opacity: 1.0;
		transition: opacity 1s;
	}

	#hpf-logo {
		display: block;
		left: 10px;
		top: 0;
		position: absolute;
		padding: 0px;
		background-color: #000132;
		text-decoration: none;
		height: 91px;
	}

	.right {
		display: block;
  		margin-left: auto;
  		margin-right: auto;
		width: 90%;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.left {
		display: block;
  		margin-left: auto;
  		margin-right: auto;
		width: 90%;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.responsive-td {
		display: table-row;
	}

	.big-th {
		font-size: 60px;
	}

	.inner td {
		font-size: 18px;
		padding: 20px;
	}

	.small-th {
		font-size: 24px;
	}

	.inner {
		padding: 20px;
	}

}

.yellow-shadow {
	box-shadow: 10px 10px #ffc32b;
}

.blue-shadow {
	box-shadow: -10px 10px #1f69b6;
}

@media (min-aspect-ratio: 1/1) {

	.navbar {
		white-space: nowrap;
		font-size: 18px;
		background-color: #000132;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: auto;
	}

	.navbar a {
		float: left;
		color: #f8f8ff;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		transition: all 500ms ease-out
	}

	.navbar img {
		display: block;
		float: left;
		padding: 0px;
		text-decoration: none;
		height: 54px;
	}

	#hpf-logo {
		padding-left: 10px;
	}

	.navbar a.icon {
	  display: none;
	}

	.right {
		float: right;
		width: 50%;
		margin: 10px 0px 30px 40px;
	}

	.left {
		float: left;
		width: 50%;
		margin: 10px 40px 30px 0px;
	}

	.outer {
		table-layout: fixed;
	}

	.big-th {
		font-size: 32px;
	}

	.inner td {
		padding: 0px;
		font-size: 12px;
	}

	.small-th {
		font-size: 16px;
	}
}

.inner td {
	padding: 0px;
}

table {
	text-align: center;
}

.outer {
	width: 100%;
	margin: 30px auto;
}

.inner {
	table-layout: fixed;
	width: 100%;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 0px;
}

.narrow {
	width: 80%;
}

.outer td {
}

.small-th {
	padding-top: 10px;
}

.member-container {
	width: 70%;
	margin: auto;
}

.yellow-halfbox {
	position: relative;
}

.yellow-halfbox:before {
	bottom:5px;
	content: "";
	position: absolute;
	margin:-10px;
	width:50%;
	height:50%;
	background-color:#ffc32b;
	z-index: -1;
	transition: all 1s ease-out
}

.yellow-halfbox:after {
	top:0px;
	right: 0px;
	content: "";
	position: absolute;
	margin:-10px;
	width:50%;
	height:50%;
	background-color:#ffc32b;
	z-index: -1;
	transition: all 1s ease-out
}

.yellow-halfbox:hover:after {
	width:100%;
	height:100%;
}

.yellow-halfbox:hover:before {
	width:100%;
	height:100%;
}

.blue-halfbox {
	position: relative;
}

.blue-halfbox:before {
	bottom:5px;
	content: "";
	position: absolute;
	margin:-10px;
	width:50%;
	height:50%;
	background-color:#1f69b6;
	z-index: -1;
	transition: all 1s ease-out
}

.blue-halfbox:after {
	top:0px;
	right: 0px;
	content: "";
	position: absolute;
	margin:-10px;
	width:50%;
	height:50%;
	background-color:#1f69b6;
	z-index: -1;
	transition: all 1s ease-out
}

.blue-halfbox:hover:after {
	width:100%;
	height:100%;
}

.blue-halfbox:hover:before {
	width:100%;
	height:100%;
}



.fill {
	width: 100%;
	height: auto;
	padding: 0;
}

.big-th {
	font-weight: 600;
	font-style: italic;
	text-align: center;
	padding: 20px;
}
