body {
	margin: 0px;
	font-family: Helvetica, sans-serif;
	color: #0a0203;
}

.navbar {
	font-family: Helvetica, sans-serif;
	background-color: #000132;
	overflow: hidden;
	display: flex;
   justify-content: space-between;
}

.navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a.inactive:hover {
	background-color: #ddd;
	color: black;
}

.navbar a.active {
	color: white;
	text-decoration-line: underline;
	text-decoration-color: #174e95;
	text-decoration-thickness: 2px;
	pointer-events: none;
   cursor: default;
}

h1 {
	font-style: italic;
	font-size: 9vw;
	text-align: center;
	margin: 0px;
}

.yellow {
	color: #ffc32b;
}

.banner {
	width: 100%;
}

.right {
	float: right;
	width: 50%;
}

.text {
	margin-left: 15%;
	margin-right: 15%;
}
